article {
  .article-aside-content {
    padding: 0 2em;
  }

  .article-main-content {
    padding: 1em 0 0 2em;
  }
}

.single-asociado {
  .asifa-profile-portrait {
    display: inline-block;
  }
}